<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Splash_Screen</string>
			<key>CFBundleURLName</key>
			<string>readcast</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>readcast</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Shapiro 95 Super Extd.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchImageFile~iphone</key>
	<string>Splash_Screen</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Splash_Screen</string>
	</dict>
</dict>
</plist>
